@font-face { font-family: p5; src: url('../Font/PersonifiedUXRegular.ttf'); } 
@font-face { font-family: p5_2; src: url('../Font/p5hatty.ttf'); } 
html {
  background-image: url('../Images/t_BrickPattern2.png');
  background-size: auto 30vh;
  background-position: top;
  /*background-repeat: no-repeat;*/
  background-color: #000;
  height: auto;
  width: auto;
}
body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  margin:0 auto; 
}

hr {
  opacity: 0;
}

p {
  text-align: center;
  font-family: p5;
  font-size: 25px;
  color: yellow;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;
}

h1 {
  text-align: center;
  font-family: p5;
  font-size: 20px;
  color: white;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
  text-align: center;
  font-family: p5;
  font-size: 20px;
  color: black;
  line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

div#loading
{
   position: fixed;
   top: 0px;
   left: 0px;
 }

body,html 
{
  padding: 0px;
  margin: 0px;
  border: none;
 }

.navbar {
  text-align: center;
  margin-top: 18px;
}

.link-wrapper {
  position: relative;
  display: inline-block;
  margin: 0px 16px;
}
.link-wrapper .fallback {
  font-size: 2.25em;
  letter-spacing: 4px;
  line-height: 0;
  opacity: 0;
  position: relative;
  top: 15px;
  left: 0;
}
.link-wrapper .shape-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.link-wrapper:hover {
  z-index: 9999;
}
.link-wrapper:hover .shape-wrapper {
  transform: rotate(-6deg);
  display: block;
}
.link-wrapper:hover .shape-wrapper .shape.cyan-fill {
  transform: scale(3, 0.1);
}
.link-wrapper:hover .img-wrapper img {
  animation: tiltBounce .15s ease;
  animation-fill-mode: forwards;
  display: block;
}
.link-wrapper:hover .img-wrapper img.normal {
  mix-blend-mode: darken;
}
.link-wrapper:nth-child(even):hover .shape-wrapper {
  transform: rotate(11deg);
}
.link-wrapper:nth-child(even):hover .img-wrapper img {
  animation: tiltBounceAlt .15s ease;
  animation-fill-mode: forwards;
}

.img-wrapper img {
  width: auto;
  height: 40px;
  display: block;
  left: 0;
  right: 0;
  top: -5px;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
}
.img-wrapper img.normal {
  display: block;
}
.img-wrapper img.active {
  display: none;
  z-index: -1;
}

.shape-wrapper {
  filter: sepia(50%) saturate(3);
}
.shape-wrapper .shape {
  transition: all .1s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  overflow: hidden;
}
.shape-wrapper .shape svg {
  position: absolute;
  left: 0;
  top: 0;
}
.shape-wrapper .shape.cyan-fill {
  mix-blend-mode: screen;
  animation-delay: 0.05s;
  animation-duration: .4s;
}
.shape-wrapper .shape.red-fill {
  animation-duration: .45s;
  animation-delay: 0.08s;
  opacity: .8;
}

.jelly {
  -webkit-animation-name: jelly;
  animation-name: jelly;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.transition {
  animation: scrollBanner 5.1s;
      -webkit-animation: scrollBanner 4.8s;
      width:100%; height:100%;
}
.transitioncat {
    /*animation: scrollBannercat 5.1s;
      -webkit-animation: scrollBannercat 4.8s;
      width:100%; height:100%;*/
} 
.transitionclock {
    animation: scrollBannerclock 5.1s;
      -webkit-animation: scrollBannerclock 4.8s;
      width:100%; height:100%;
} 
.transitionmonthyear {
    /*animation: scrollBannermonthyear 5.1s;
      -webkit-animation: scrollBannermonthyear 4.8s;
      width:100%; height:100%;*/
} 
.transitiondagger {
  left: -200px;
  animation: scrollBannerdagger 5.1s;
      -webkit-animation: scrollBannerdagger 4.8s;
      width:100%; height:100%;
}
.transitiondaggersingle {
  left: -200px;
  animation: scrollBannerdaggersingle 5.1s;
      -webkit-animation: scrollBannerdaggersingle 4.8s;
      width:100%; height:100%;
}
.transitionright3 {
  left: -200px;
  animation: scrollBannerrightthree 5.1s;
      -webkit-animation: scrollBannerrightthree 4.8s;
      width:100%; height:100%;
}
.transitionright2 {
  left: -200px;
  animation: scrollBannerrighttwo 5.1s;
      -webkit-animation: scrollBannerrighttwo 4.8s;
      width:100%; height:100%;
}
.transitionright1 {
  left: -200px;
  animation: scrollBannerrightone 5.1s;
      -webkit-animation: scrollBannerrightone 4.8s;
      width:100%; height:100%;
}
.transitioncenter {
  left: -200px;
  animation: scrollBannercenter 5.1s;
      -webkit-animation: scrollBannercenter 4.8s;
      width:100%; height:100%;
}
.transitionleft1 {
  left: -200px;
  animation: scrollBannerleftone 5.1s;
      -webkit-animation: scrollBannerleftone 4.8s;
      width:100%; height:100%;
}
.transitionleft2 {
  left: -200px;
  animation: scrollBannerlefttwo 5.1s;
      -webkit-animation: scrollBannerlefttwo 4.8s;
      width:100%; height:100%;
}
.fadeout {
  animation: fadeout 5.1s;
      -webkit-animation: fadeout 5.0s;
}
.bottomanim {
  animation: bottomanim 5.0s;
      -webkit-animation: bottomanim 5.0s;
}
.clocksingle{
    margin-top: -8px;
    margin-left: -430px;
    transform: scale(1.12, 1.12);
}
.clockdouble{
    margin-left: -450px;
}
@keyframes scrollBannercat {
     0% {
        bottom: -500px;
        left: 5%;
        opacity: 1;
    }
    8% {
        bottom: 5.5%;
    }
    8.01% {
        bottom: 6.0%;
    }
    15.25% {
        bottom: 5.0%;
    }
    49% {
        bottom: 5.0%;
    }
    65% {
        bottom: 5.0%;
    }
    93% {
        bottom: 5.0%;
        left: 5%;
        opacity: 1;
    }
    100% {
        bottom: 5.0%;
        left: -300px;
        opacity: 0;
    }
}
@keyframes scrollBannerclock {
     0% {
        top: -500px;
        opacity: 1;
    }
    7% {
        top: 1.5%;
    }
    7.01% {
        top: 2.0%;
    }
    13.25% {
        top: 1.0%;
    }
    49% {
        top: 1.0%;
    }
    65% {
        top: 1%;
    }
    96% {
        top: 1.0%;
        opacity: 1;
    }
    100% {
        top: 2.0%;
        opacity: 0;
    }
}
@keyframes scrollBannermonthyear {
     0% {
        top: -500px;
    }
    8% {
        top: 0.5%;
    }
    8.01% {
        top: 1.0%;
    }
    15.25% {
        top: 0.0%;
    }
    49% {
        top: 0.0%;
    }
    65% {
        top: 0%;
    }
    90% {
        top: 0.0%;
    }
    100% {
        top: 0.0%;
    }
}
@keyframes scrollBannerdagger {
     0% {
      transform: scale(1.00) rotate(-60deg);
      left: 75%;
        top: -500px;
        opacity: 0;
    }
    62% {
      transform: scale(1.00) rotate(-60deg);
      left: 75%;
        top: -500px;
        opacity: 0;
    }
    65% {
      transform: scale(1.0) rotate(-60deg);
      left: 54%;
      top: 15%;
      opacity: 1;
    }
    67% {
        transform: scale(1.0) rotate(-59.5deg);
    }
    69.01% {
      transform: scale(1.0) rotate(-61.5deg);
    }
    73.25% {
      transform: scale(1.0) rotate(-60deg);
    }
    90% {
      top: 15.0%;
      opacity: 1;
    }
    100% {
      transform: scale(1.0) rotate(-60deg);
        left: 54%;
        top: 15%;
        opacity: 0;

    }
}
@keyframes scrollBannerdaggersingle {
     0% {
      transform: scale(1.00) rotate(-60deg);
      left: 75%;
        top: -500px;
        opacity: 0;
    }
    62% {
      transform: scale(1.00) rotate(-60deg);
      left: 75%;
        top: -500px;
        opacity: 0;
    }
    65% {
      transform: scale(1.0) rotate(-60deg);
      left: 52%;
      top: 15%;
      opacity: 1;
    }
    67% {
        transform: scale(1.0) rotate(-59.5deg);
    }
    69.01% {
      transform: scale(1.0) rotate(-61.5deg);
    }
    73.25% {
      transform: scale(1.0) rotate(-60deg);
    }
    90% {
      top: 15.0%;
      opacity: 1;
    }
    100% {
      transform: scale(1.0) rotate(-60deg);
        left: 52%;
        top: 15%;
        opacity: 0;

    }
}
@keyframes scrollBannerrightthree {
     0% {
      transform: scale(0.75);
      left: 87%;
        top: -500px;
        opacity: 0;
    }
    7% {
        top: 21.5%;
    }
    7.01% {
      top: 22.0%;
    }
    13.25% {
      top: 21.0%;
    }
    49% {
      left: 87%;
      transform: scale(0.75);
      top: 21.0%;
      opacity: 0;
    }
    65% {
      transform: scale(1.0);
      left: 77%;
      top: 23%;
      opacity: 1;
    }
    90% {
      top: 23.0%;
      opacity: 1;
    }
    100% {
      transform: scale(1.0);
        left: 77%;
        top: 23.0%;
        opacity: 0;

    }
}
@keyframes scrollBannerrighttwo {
     0% {
      transform: scale(1.0);
      left: 77%;
        top: -500px;
    }
    7% {
        top: 23.5%;
    }
    7.01% {
      top: 24.0%;
    }
    13.25% {
      top: 23.0%;
    }
    49% {
      left: 77%;
      transform: scale(1.0);
      top: 23.0%;
    }
    65% {
      transform: scale(1.25);
      left: 65%;
      top: 25%;
    }
    90% {
      top: 25.0%;
      opacity: 1;
    }
    100% {
      transform: scale(1.25);
        left: 65%;
        top: 25.0%;
        opacity: 0;

    }
}
@keyframes scrollBannerrightone {
     0% {
      transform: scale(1.25);
      left: 65%;
        top: -500px;
    }
    1%{
       transform: scale(1.25);
        left: 65%;
        top: -500px; 
    }
    10% {
        top: 25.5%;
    }
    10.01% {
      top: 26.0%;
    }
    16.25% {
      top: 25.0%;
    }
    49% {
      left: 65%;
      transform: scale(1.25);
      top: 25.0%;
    }
    65% {
      transform: scale(1.5);
      left: 50%;
      top: 27%;
    }
    90% {
      top: 27.0%;
      opacity: 1;
    }
    100% {
      transform: scale(1.5);
        left: 50%;
        top: 27.0%;
        opacity: 0;

    }
}
@keyframes scrollBannercenter {
     0% {
      transform: scale(1.5);
      left: 50%;
        top: -500px;
    }
    7% {
        top: 27.5%;
    }
    7.01% {
      top: 28.0%;
    }
    13.25% {
      top: 27.0%;
    }
    49% {
      left: 50%;
      transform: scale(1.5);
      top: 27.0%;
    }
    65% {
      transform: scale(1.25);
      left: 35%;
      top: 25%;
    }
    90% {
      top: 25.0%;
      opacity: 1;
    }
    100% {
      transform: scale(1.25);
        left: 35%;
        top: 25.0%;
        opacity: 0;

    }
}
@keyframes scrollBannerleftone {
     0% {
      transform: scale(1.25);
        left: 35%;
        top: -500px;
    }
    0%{
        transform: scale(1.25);
        left: 35%;
        top: -500px;
    }
    5% {
        top: 25.5%;
    }
    5.01% {
      top: 26.0%;
    }
    15.25% {
      top: 25.0%;
    }
    49% {
      left: 35%;
      transform: scale(1.25);
      top: 25.0%;
    }
    65% {
      transform: scale(1.0);
      left: 23%;
      top: 23%;
    }
    90% {
      top: 23.0%;
      opacity: 1;
    }
    100% {
      transform: scale(1.0);
        left: 23%;
        top: 23.0%;
        opacity: 0;

    }
}
@keyframes scrollBannerlefttwo {
     0% {
      transform: scale(1.0);
        left: 23%;
        top: -500px;
    }
    7% {
        top: 23.5%;
    }
    7.01% {
      top: 24.0%;
    }
    13.25% {
      top: 23.0%;
    }
    49% {
      left: 23%;
      transform: scale(1.0);
      top: 23.0%;
      opacity: 1;
    }
    65% {
      transform: scale(0.75) rotate(45deg);
      left: 23%;
      top: -200px;
      opacity: 0;
    }
    90% {
      top: -500px;
      opacity: 1;
    }
    100% {
      top: -500px;
      transform: scale(0.75);
        left: 23%;
        opacity: 0;

    }
}

.headanim {
  animation: headanim 5.0s;
      -webkit-animation: headanim 5.0s;
}
@keyframes headanim {
     0% {
        opacity:1;
    }
    90% {
      opacity:1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes tiltBounce {
  0% {
    transform: scale(1) rotate(-7deg);
  }
  50% {
    transform: scale(1.5) rotate(-7deg);
  }
  100% {
    transform: scale(1.15) rotate(-7deg);
  }
}
@keyframes tiltBounceAlt {
  0% {
    transform: scale(1) rotate(7deg);
  }
  50% {
    transform: scale(1.5) rotate(7deg);
  }
  100% {
    transform: scale(1.15) rotate(7deg);
  }
}
@keyframes jelly {
  0% {
    width: 100%;
    transform: scale(1.25, 1) skewX(20deg) translateY(3px) rotateX(40deg) rotateY(10deg) rotateZ(-10deg);
  }
  50% {
    width: 100%;
    transform: scale(1.25, 1.1) skewX(-15deg) translateY(-2px) translateZ(-30px);
  }
  100% {
    width: 100%;
    transform: scale(1.25, 1) skewX(20deg) translateY(3px) rotateX(-40deg) rotateY(-10deg) rotateZ(-15deg);
  }
}
