@font-face {font-family: 'ProximaNova_Reg';src: url('../Font/ProximaNova-Reg-webfont.woff2');}
@font-face {font-family: 'ProximaNova_Sbold';src: url('../Font/ProximaNova-Sbold-webfont.woff2');}
@font-face {font-family: 'ProximaNova_Bold';src: url('../Font/ProximaNova-Bold-webfont.woff2');}

:root {
--primary: #111111;
--secondary: #161616;
--tertiary: #1c1c1c;
--primary_red: #bb000e;
--secondary_red: #e31c25;
--tertiary_red: #6b0000;
--border_color: #e5e5e5;
--primary_text: #ffffff;
--go_primary: #00804e;
--go_secondary: #28986d;
--primary_grey: #333;
--secondary_grey: #666;
}

html {
    background-color: var(--tertiary);
}

.header_container {
    text-align: center;
    background-color: var(--primary);
    padding: 10px;
    border-bottom: 1px solid var(--primary_red);
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Old Colors
.header_tab {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    padding: 10px;
    display: inline-block;
}

.header_tab_active {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    padding: 10px;
    display: inline-block;
}

.header_text {
    font-family:'ProximaNova_Sbold', Courier, monospace;
    color: #333333;
    font-size: 20px;
    line-height: 18px;
    padding: 0 10px;
    user-select: none;
}
*/

.scrollbar-hack {
    padding-left: calc(100vw - 100%);
}

.header_tab {
    background-color:  var(--secondary);
    padding: 10px;
    display: inline-block;
    border: 1px solid var(--border_color);
    transition: background-color 0.15s ease-in-out;
}

.header_tab_mobile {
    background-color:  var(--secondary);
    border: 1px solid var(--border_color);
    transition: background-color 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 10px 4px;
    width: 100%;
}

.header_tab:hover {
    background-color:  var(--tertiary_red);
}

.header_tab_active {
    background-color: var(--primary_red);
    padding: 10px;
    display: inline-block;
    border: 1px solid var(--border_color);
}

.header_tab_active_mobile {
    background-color: var(--primary_red);
    padding: 10px;
    border: 1px solid var(--border_color);
    display: flex;
    flex-direction: column;
    padding: 10px 4px;
    width: 100%;
}

.header_text {
    font-family:'ProximaNova_Sbold', Courier, monospace;
    color: var(--primary_text);
    font-size: 20px;
    line-height: 18px;
    padding: 0 10px;
    user-select: none;
}

.name_header_div {
    padding: 5px;
}

.name_header_img {
    height: 40px;
}

.name_header_text {
    font-family: 'ProximaNova_Sbold', Courier, monospace;
    color: var(--primary_text);
    font-size: 24px;
    line-height: 42px;
    padding: 10px;
    user-select: none;
    vertical-align: top;
}

.content_div {
    display: none;
    max-width: 1200px;
}

.content_div_active {
    display: block;
    max-width: 1200px;
}

.project_module {
    max-width: 1200px;
    background-color: var(--secondary);
    border: 1px solid var(--primary_red);
    padding: 10px;
    margin: 0 auto;
}

.project_module_img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    transform: scale(0.75);
}

.project_module_text {
    font-family: 'ProximaNova_Sbold', Courier, monospace;
    color: var(--primary_text);
    font-size: 24px;
    padding: 10px 0;
    user-select: none;
    display: inline-block;
    width: 100%;
}

.project_module_div_1 {
    width: 100px;
    display: inline-block;
}

.project_module_div_2 {
    display: inline-block;
    width: calc(100% - 120px);
    vertical-align: top;
    padding: 10px;
}

.project_module_div_3 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.project_module_div_3_mobile {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.project_module_desc {
    font-family: 'ProximaNova_Reg', Courier, monospace;
    color: var(--primary_text);
    font-size: 16px;
    line-height: 24px;
    user-select: none;
    display: inline-block;
    width: calc(100% - 20px);
}

button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-family: ProximaNova_Reg;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: var(--primary_text);
    background-color: var(--primary_red);
    border-color: var(--tertiary);
}

.module_btn_source {
    color: var(--primary_text);
    background-color: var(--primary_grey);
    border-color: var(--tertiary);
}

.module_btn_source:hover {
    background-color: var(--secondary_grey);
    color: var(--primary_text);
}

.module_btn_view {
    color: var(--primary_text);
    background-color: var(--go_primary);
    border-color: var(--tertiary);
}

.module_btn_view:hover {
    background-color: var(--go_secondary);
    color: var(--primary_text);
}

.module_btn_video {
    color: var(--primary_text);
    background-color: var(--tertiary_red);
    border-color: var(--tertiary);
}

.module_btn_video:hover {
    background-color: var(--secondary_red);
    color: var(--primary_text);
}

.module_btn_info {
    color: var(--primary_text);
    background-color: var(--primary_grey);
    border-color: var(--tertiary);
}

.module_btn_info:hover {
    background-color: var(--secondary_grey);
    color: var(--primary_text);
}

.project_module_div_4 {
    background-color: var(--tertiary);
}

.inactive {
    display:none;
}

.project_module_long_desc {
    font-family: 'ProximaNova_Reg', Courier, monospace;
    color: var(--primary_text);
    font-size: 16px;
    line-height: 24px;
    user-select: none;
    display: inline-block;
    padding: 15px;
    background-color: var(--tertiary);
    width: calc(100% - 30px);
}

.project_module_long_desc_text {
    padding: 0px;
}

.youtube_embed {
    width: 100%;
    max-width: 560px;
    max-height: 315px;
    background-color: var(--tertiary);
    margin: 10px 0;
}

.videosDiv {
    max-width: 1200px;
    background-color: var(--secondary);
    border: 1px solid var(--primary_red);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.video_module {
    width: 250px;
    height: 390px;
    display: inline-block;
    background-color: var(--primary_grey);
    margin: 16px;
}

.video_module_div_1 {
    width: 100%;
    height: 50px;
    background-color: var(--primary_red);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.video_title_text {
    font-family: 'ProximaNova_Sbold', Courier, monospace;
    color: var(--primary_text);
    font-size: 20px;
    line-height: 22px;
    padding: 0 10px;
    user-select: none;
}

.video_module_img {
    width: 250px;
    height: 141px;
    margin-bottom: -3px;
}

.video_module_div_2 {
    height: 150px;
    font-family: 'ProximaNova_Sbold', Courier, monospace;
    color: var(--primary_text);
    font-size: 18px;
    line-height: 22px;
    padding: 0 10px;
    user-select: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.video_module_div_3 {
    background-color: var(--tertiary);
    padding: 13px;
    border-radius: 0px 0px 10px 10px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.text_module {
    max-width: 1200px;
    background-color: var(--secondary);
    border: 1px solid var(--primary_red);
    padding: 10px;
    margin: 10px auto;
    height: 50px;
}

.youtube_header {
    font-family: 'ProximaNova_Sbold', Courier, monospace;
    color: var(--primary_text);
    font-size: 18px;
    line-height: 22px;
    padding: 10px 10px;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_header {
    font-family: 'ProximaNova_Reg', Courier, monospace;
    color: var(--primary_text);
    font-size: 28px;
    padding: 10px 10px;
    user-select: none;
    display: flex;
    justify-content: center;
}

.about_body {
    font-family: 'ProximaNova_Reg', Courier, monospace;
    color: var(--primary_text);
    font-size: 18px;
    line-height: 22px;
    padding: 10px 10px;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.languageDiv {
    width: 100px;
    height: 150px;
    display: inline-block;
    border: 2px solid var(--secondary_grey);
    border-radius: 5px;
    margin: 5px;
    background-color: var(--primary_grey);
}

.languageIcon {
    font-size: 100px;
    background-color: var(--tertiary)
}

.languageTextDiv {
    font-family: "ProximaNova_Sbold", Courier, monospace;
    color: var(--primary_text);
    font-size: 18px;
    text-align: center;
    padding: 2px;
}

.languagesDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 16px auto;
    flex-wrap: wrap;
}

.languageIconDiv {
    padding-bottom: 4px;
}

.aboutBodyImg {
    max-width:1200px;
    padding: 16px 0;
    width:100%;
}

/* * {
    outline: 1px solid #f00 !important;
  } */